/* Theme */
.w3-theme-light {color:#000 !important; background-color:#fffbf0 !important}
.w3-theme-dark {color:#fff !important; background-color:#ff9800 !important}
.w3-theme-action {color:#fff !important; background-color:#ff9800 !important}
.w3-theme-dark-gray {color:#fff!important;background-color:#616161!important}
.w3-theme-light-gray {color:#000!important;background-color:#f1f1f1!important}
.w3-theme-white{color:#000!important;background-color:#fff!important}
.w3-text-theme-white {color:#fff !important}
.w3-theme-black{color:#fff!important;background-color:#000!important}

.w3-theme-orange {color:#000 !important; background-color:#ff9800!important}
.w3-text-theme-orange {color:#ff9800 !important}
.w3-border-theme-orange {border-color:#ff9800 !important}

.w3-hover-theme-orange:hover {color:#ff9800!important;}
.w3-hover-text-theme-orange:hover {color:#ff9800 !important}
.w3-hover-border-theme-orange:hover {border-color:#ff9800 !important}